# Jupyter temporary files
.ipynb_checkpoints/
.virtual_documents/

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Old backup notebook
NBFC_Loan_Portfolio_Analysis.ipynb
# Local README backup
README backup.md
